@font-face
  font-family: 'AvertaBlack'
  src: url('~@/assets/fonts/Averta-Black.otf') format('opentype')
@font-face
  font-family: 'AvertaBlackIlatic'
  src: url('~@/assets/fonts/Averta-BlackItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaBold'
  src: url('~@/assets/fonts/Averta-Bold.otf') format('opentype')
@font-face
  font-family: 'AvertaBoldItalic'
  src: url('~@/assets/fonts/Averta-BoldItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaExtraBold'
  src: url('~@/assets/fonts/Averta-ExtraBold.otf') format('opentype')
@font-face
  font-family: 'AvertaExtraBoldItalic'
  src: url('~@/assets/fonts/Averta-ExtraBoldItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaLight'
  src: url('~@/assets/fonts/Averta-Light.otf') format('opentype')
@font-face
  font-family: 'AvertaLightItalic'
  src: url('~@/assets/fonts/Averta-LightItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaExtrathin'
  src: url('~@/assets/fonts/Averta-Extrathin.otf') format('opentype')
@font-face
  font-family: 'AvertaExtrathinItalic'
  src: url('~@/assets/fonts/Averta-ExtrathinItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaRegular'
  src: url('~@/assets/fonts/Averta-Regular.otf') format('opentype')
@font-face
  font-family: 'AvertaRegularItalic'
  src: url('~@/assets/fonts/Averta-RegularItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaSemibold'
  src: url('~@/assets/fonts/Averta-Semibold.otf') format('opentype')
@font-face
  font-family: 'AvertaSemiboldItalic'
  src: url('~@/assets/fonts/Averta-SemiboldItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaThin'
  src: url('~@/assets/fonts/Averta-Thin.otf') format('opentype')
@font-face
  font-family: 'AvertaThinItalic'
  src: url('~@/assets/fonts/Averta-ThinItalic.otf') format('opentype')
html
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit
*
  margin: 0
h1, h2, h3, h4, h5, h6, h7
  color: #1C283D
body, caption1
  color: #384961
h1
  font-family: 'AvertaBold'
  font-style: normal
  font-weight: 700
  font-size: 46px
  line-height: 130%
h2
  font-family: 'AvertaBold'
  font-style: normal
  font-weight: 700
  font-size: 40px
  line-height: 130%
h3
  font-family: 'AvertaBold'
  font-style: normal
  font-weight: 700
  font-size: 32px
  line-height: 130%
h4
  font-family: 'AvertaBold'
  font-style: normal
  font-weight: 700
  font-size: 28px
  line-height: 130%
h5
  font-family: 'AvertaSemibold'
  font-style: normal
  font-weight: 600
  font-size: 22px
  line-height: 150%
h6
  font-family: 'AvertaSemibold'
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 150%
h7
  font-family: 'AvertaSemibold'
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 150%
body
  font-family: 'AvertaRegular'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 150%
caption1
  font-family: 'AvertaRegular'
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 150%
caption2
  font-family: 'AvertaBold'
  font-style: normal
  font-weight: 700
  font-size: 14px
  line-height: 150%
