@font-face
  font-family: 'AvertaBlack'
  src: url('~@/assets/fonts/Averta-Black.otf') format('opentype')
@font-face
  font-family: 'AvertaBlackIlatic'
  src: url('~@/assets/fonts/Averta-BlackItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaBold'
  src: url('~@/assets/fonts/Averta-Bold.otf') format('opentype')
@font-face
  font-family: 'AvertaBoldItalic'
  src: url('~@/assets/fonts/Averta-BoldItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaExtraBold'
  src: url('~@/assets/fonts/Averta-ExtraBold.otf') format('opentype')
@font-face
  font-family: 'AvertaExtraBoldItalic'
  src: url('~@/assets/fonts/Averta-ExtraBoldItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaLight'
  src: url('~@/assets/fonts/Averta-Light.otf') format('opentype')
@font-face
  font-family: 'AvertaLightItalic'
  src: url('~@/assets/fonts/Averta-LightItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaExtrathin'
  src: url('~@/assets/fonts/Averta-Extrathin.otf') format('opentype')
@font-face
  font-family: 'AvertaExtrathinItalic'
  src: url('~@/assets/fonts/Averta-ExtrathinItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaRegular'
  src: url('~@/assets/fonts/Averta-Regular.otf') format('opentype')
@font-face
  font-family: 'AvertaRegularItalic'
  src: url('~@/assets/fonts/Averta-RegularItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaSemibold'
  src: url('~@/assets/fonts/Averta-Semibold.otf') format('opentype')
@font-face
  font-family: 'AvertaSemiboldItalic'
  src: url('~@/assets/fonts/Averta-SemiboldItalic.otf') format('opentype')
@font-face
  font-family: 'AvertaThin'
  src: url('~@/assets/fonts/Averta-Thin.otf') format('opentype')
@font-face
  font-family: 'AvertaThinItalic'
  src: url('~@/assets/fonts/Averta-ThinItalic.otf') format('opentype')
